<div class="welcome-card">
    <h2>The places you don't want to miss</h2>
    <h3>Discover and add your own reviews to your favorite activities in Denver</h3>
    <button>Let's discover!</button>
</div>
<div class="latest-reviews">
    <h4>Latest reviews</h4>
    <p>see all</p>
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>