<div class="welcome-card">
  <h2>The places you don't want to miss</h2>
  <h3>Discover and add your own reviews to your favorite activities in Denver</h3>
  <button>Let's discover!</button>
</div>
<div class="latest-reviews ">
  <h4>Latest reviews</h4>
  <p>see all</p>
  <div class="container">
  <div class="row">
{{#each reviews as |review|}}
  <div class="card col-4" style="width: 18rem;">
    {{!-- <img src="..." class="card-img-top" alt="..." /> --}}
    <div class="card-body">
        <h5 class="card-title">{{review.title}}</h5>
        <p class="card-text">{{review.text}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
 {{/each}}
</div>
</div>
      
    </div>
  </div>
</div>