<div class="welcome-card">
  <h2>The places you don't want to miss</h2>
  <h3>Discover and add your own reviews to your favorite activities in Denver</h3>
  <button>Let's discover!</button>
</div>
<div class="latest-reviews">
  <h4>Latest reviews</h4>
  <p>see all</p>
  <div class="container">
    <div class="row">
      {{#each reviews as |review|}}
        <div class="card col-4" style="width: 24rem;">
          {{! <img src="..." class="card-img-top" alt="..." /> }}
          <div class="card-body">
            <h5>{{location.name}}</h5>
            <h6 class="card-title">{{review.title}}</h6>
            <p class="card-text">"{{review.text}}"</p>
            <p>-{{user.username}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      {{/each}}

    </div>
  </div>
</div>
<main>
  <h1>Select a category to discover.</h1>
  <ul>
    <li> <a href="/api/location/1" style="color:black">Adventure</a></li>
    <li> <a href="/api/location/2" style="color:black">Entertainment</a></li>
    <li> <a href="/api/location/3" style="color:black">Dining</a></li>
  </ul>
</main>