<div class="welcome-card">
    <h2>The places you don't want to miss</h2>
    <h3>Discover and add your own reviews to your favorite activities in Denver</h3>
    <button>Let's discover!</button>
</div>