<div class="text-center text-center bg-dark vh-100 d-flex allign-items-center">
  <main class="form-signin w-100 m-auto">
    <form class="login-form">
      <!-- <img class="mb-4" src="" alt="" width="72" height="57" /> -->
      <h1 class="display-5 text-light">Welcome,</h1>
      <h3 class="mb-4">Sign in to discover!</h3>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-login"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email ID</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="text-end mb-4">
        <a href="" class="forgot-pwd">Forgot password?</a>
      </div>

      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-light">
        I'm not yet a member.
        <a href="/signup">Sign Up</a>
      </p>
    </form>
  </main>

</div>
<script src="/js/login.js"></script>