<div class="text-center text-center bg-dark vh-100 d-flex allign-items-center">
  <main class="form-signin w-100 m-auto">
    <form class="signup-form">
      <!-- <img class="mb-4" src="" alt="" width="72" height="57" /> -->
      <h1 class="display-5 text-light">Create Account</h1>
      <h3 class="mb-4">Sign up to get started!</h3>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="name-signup"
          placeholder="James Geneser"
        />
        <label for="floatingInputName">Full Name</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-signup"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email ID</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-signup"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="confirm-password-signup"
          placeholder="Password"
        />
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>

      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div> -->
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
        Sign Up
      </button>
      <p class="mt-5 mb-3 text-light">
        I'm already a member.
        <a href="/login">Sign In</a>
      </p>
    </form>
  </main>
</div>
<script src="/js/signup.js"></script>