@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;400;600;700;800;900&display=swap");

/*sets universal values*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sets root variables, useful for color themes*/
:root {
  --dark-color: #002c6e;
  --darker-color: #000727;
  --light-color: #f5f5f5;
  --accent-color: #ffad15;
  --accent-color-hover: #cbec0f2c;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 4px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* color: var(--light-color); */
  /* background-color: var(--dark-color); */
}
footer {
  color: var(--light-color);
  background-color: var(--dark-color);
}

/*--------navigation section-----------*/

/*tha nav bar is fixed and displays the navigation bar items with a space-between*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--dark-color);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.048),
    0 0px 20px 0 rgba(0, 0, 0, 0.048);
}

/*displays list items with a space-evenly separation*/
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/*definets font styles of list items and anchors*/
li,
a {
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: var(--light-color);
  text-align: center;
}
li {
  margin-left: 2rem;
}

a:hover {
  color: var(--accent-color);
}

a.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--accent-color);
}

/*styles the border bottom of the nav items when hover*/
.nav-link:hover {
  border-bottom: 4px solid var(--accent-color);
}

/*styles the signup button with variables for the color, background color and border*/
a.signup {
  background-color: var(--dark-color);
  border: var(--accent-color) solid 2px;
  color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  text-align: center;
  min-width: 100px;
}

/*signup icon*/
.signup span {
  position: relative;
  top: 4px;
}

.margin-top {
  margin-top: 5rem;
}

a.signup:hover {
  background-color: var(--accent-color-hover);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
p,
label,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: white;
  /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
  text-decoration: none;
  font-weight: 800;
}

nav a {
  font-weight: 400;
}
a.forgot-pwd {
  color: white;
  /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
  text-decoration: none;
  font-weight: 400;
}

#logout {
  color: var(--accent-color);
  /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
  text-decoration: none;
  font-weight: 400;
}

a.seeall {
  color: #959595;
}

.welcome-card {
  height: 22rem;
}

.category {
  background-color: var(--darker-color);
  color: var(--light-color);
  height: 8rem;
  border-radius: 10px;
  transform: scale(1);
  transition: var(
    --transition
  ); /*all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);*/
  box-shadow: 0 0px 0px -15px #000;
}

/*when hover image the filter dissapears*/
.category:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -15px #000;
  cursor: pointer;
  /* filter: grayscale(0); */
}
.location-header {
  height: 20rem;
  overflow: hidden;
}

.rate-experience-btn {
  position: relative;
  top: -5rem;
  right: 6rem;
}

.review-text h3 {
  font-size: 1rem;
}

.review-text p {
  font-size: 0.9rem;
}

.rating-num h4 {
  font-size: 1.2rem;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
}
.form-signin h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#name-signup {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#email-login {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#password-login {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#email-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#confirm-password-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #959595;
  background-color: #212529;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-white {
  color: #000000;
  background-color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  background-color: #212529;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control-white:focus {
  background-color: white;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  color: #fff;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 2rem 0.75rem;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.625rem;
}

.hide {
  display: hidden;
}
