@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;400;600;700;800;900&display=swap");

/*sets universal values*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sets root variables, useful for color themes*/
:root {
  --dark-color: #002c6e;
  --darker-color: #001432;
  --light-color: #f5f5f5;
  --img-placeholder: #e9e9e9;
  --accent-color: #ffad15;
  --accent-color2: #ff3939;
  --body-text-color: #5e5e5e;

  --accent-color-hover: #cbec0f2c;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 4px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--body-text-color);
  /* background-color: var(--dark-color); */
}
footer {
  color: var(--light-color);
  background-color: var(--darker-color);
}

/*--------navigation section-----------*/

/*tha nav bar is fixed and displays the navigation bar items with a space-between*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
  position: fixed;
  width: 100%;
  z-index: 3;

  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.048),
    0 0px 20px 0 rgba(0, 0, 0, 0.048);
}

.navbar-bg {
  background: #3f51b500;
  transition: background 0.5s;
}
.navbar-bg-2 {
  background: #002c6e;
  transition: background 0.5s;
}

/*displays list items with a space-evenly separation*/
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/*definets font styles of list items and anchors*/
li,
a {
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: var(--light-color);
  text-align: center;
}
li {
  margin-left: 2rem;
}

a:hover {
  color: var(--accent-color);
}

a.logo {
  font-weight: 700;
  font-size: 1.5rem;
  /* color: var(--accent-color); */
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  letter-spacing: -17px;
  line-height: 0.8;
}
.star-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.stars-icons {
  font-size: 315%;
  color: var(--accent-color2);
}

.stars-empty {
  margin-left: 6%;
}
/*styles the border bottom of the nav items when hover*/
.nav-link:hover {
  border-bottom: 4px solid var(--accent-color);
}

/*styles the signup button with variables for the color, background color and border*/
a.signup {
  /* background-color: var(--dark-color); */
  border: var(--accent-color) solid 2px;
  color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  text-align: center;
  min-width: 100px;
}

/*signup icon*/
.signup span {
  position: relative;
  top: 4px;
}
a.signup:hover {
  background-color: #ff98003b;
  color: var(--light-color);
}
a.logout {
  border: var(--accent-color2) solid 2px;
  color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  text-align: center;
  min-width: 100px;
  cursor: pointer;
}

/*signup icon*/
.logout span {
  position: relative;
  top: 4px;
}
a.logout:hover {
  background-color: #ed033a52;
  color: var(--light-color);
}
/* .margin-top {
  margin-top: 5rem;
} */

h1,
h2,
h3,
h4,
p,
label,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.04rem;
}

h1,
h2 {
  font-weight: 600;
}

h3.logo {
  font-weight: 400;
  margin-bottom: 3rem;
}
a {
  color: white;
  /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
  text-decoration: none;
  font-weight: 800;
}

nav a {
  font-weight: 400;
}
a.forgot-pwd {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 100%;
  margin-top: 1rem;
}
a.forgot-pwd:hover {
  color: var(--accent-color);
}

.dark-color-bg {
  background-color: var(--dark-color);
}

#logout {
  /* color: var(--accent-color); */
  /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
  text-decoration: none;
  font-weight: 400;
}

a.seeall {
  color: #959595;
}

.card {
  border-radius: 20px;
}

.user-img {
  width: 30px;
}
.welcome-card {
  height: 100vh;
  /* background-color: white */
  background-image: url("../images/Colorado-flag.jpeg");
  background-size: cover;
  background-position: center;
}

.category {
  background-color: var(--darker-color);
  color: var(--light-color);
  height: 8rem;
  border-radius: 10px;
  transform: scale(1);
  transition: var(
    --transition
  ); /*all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);*/
  box-shadow: 0 0px 0px -15px #000;
}

/*when hover image the filter dissapears*/
.category:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -15px #000;
  cursor: pointer;
  /* filter: grayscale(0); */
}

.category-header {
  height: 25rem;
  overflow: hidden;
  /* background-image: url("../images/category-adventure-header.jpg");
  background-size: cover;
  background-position: center; */
}

.category-text {
  z-index: 1;
  position: absolute;
}

.location-header {
  height: 20rem;
  overflow: hidden;
}

.rate-experience-btn {
  position: relative;
  top: -5rem;
  right: 6rem;
}

.review-text h3 {
  font-size: 1rem;
}

.review-text p {
  font-size: 0.9rem;
}

.rating-num h4 {
  font-size: 1.2rem;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
}
.form-signin h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#name-signup {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#email-login {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#password-login {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#email-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#confirm-password-signup {
  /* margin-bottom: 10px; */
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adbcc7;
  background-color: #002c6e00;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-white {
  color: #000000;
  background-color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  background-color: #002c6e00;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control-white:focus {
  background-color: white;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  color: #9d9d9d;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 2rem 0.75rem;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.625rem;
}

.hide {
  display: hidden;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: var(--dark-color) !important;
  color: fieldtext !important;
}

/* beggining css slide show */

.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: #02001f82;
}
.cb-slideshow:after {
  content: "";
  background: url("../images/11-denver-zoo.jpg") repeat none;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* color: transparent; */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 48s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url("../images/slideshow-01.jpg");
}
.cb-slideshow li:nth-child(2) span {
  background-image: url("../images/slideshow-02.jpeg");
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url("../images/slideshow-03.jpg");
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("../images/slideshow-04.jpg");
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("../images/slideshow-05.jpg");
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url("../images/slideshow-06.jpeg");
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span {
  background-image: url("../images/slideshow-07.jpeg");
  animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span {
  background-image: url("../images/slideshow-08.jpg");
  animation-delay: 42s;
}
.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) div {
  animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) div {
  animation-delay: 42s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.forwardBackground {
  background-image: url("../images/Colorado-flag.jpeg");
  image-rendering: initial;
  z-index: 100;
}

.forward {
  z-index: 1000;

  font-weight: 700;
  color: white;
}

p.forward {
  font-weight: 400;
}
/* end css slide show */

#review-text {
  width: auto;
  height: 60px;
  display: block;
  /* border: 1px solid red; */
  padding: 10px;
  overflow: hidden;
}

#more {
  background: #fff;
  text-align: end;
  width: 30%;
  align-self: flex-end;
  position: relative;
  top: -42px;
  font-size: 106%;
}
.adventure {
  background-image: url(../images/category-adventure.jpg);
  background-size: cover;
}
.entertainment {
  background-image: url(../images/category-entertainment.jpg);
  background-size: cover;
}
.dining {
  background-image: url(../images/category-dining.jpg);
  background-size: cover;
}

.img-category {
  max-width: 100%;
  height: auto;
}

.login-form {
  z-index: 3;
}
.login-bg-image {
  background-image: url("../images/slideshow-01.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  position: absolute;
  width: 100%;
  height: 115vh;
  z-index: -1;
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.signup-bg-image {
  background-image: url("../images/signup.webp");
  background-size: cover;
  background-blend-mode: overlay;
  position: absolute;
  width: 100%;
  height: 115vh;
  z-index: -1;
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.login-bg-color {
  background-color: #002c6eb3;
}

.signup-form,
.login-form {
  margin-top: 5rem;
}

@media only screen and (max-width: 1200px) {
  .img-category {
    max-width: 150%;
    height: auto;
  }
}
@media only screen and (max-width: 990px) {
  .img-category {
    max-width: 190%;
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  .margin-top {
    margin-top: 0rem;
  }

  .stars-icons {
    font-size: 215%;
  }

  #more {
    color: #000;
    background: #fff;
    text-align: center;
    width: 80%;
    align-self: center;
    position: relative;
    top: -14px;
    font-size: 106%;
  }

  .img-category {
    max-width: 225%;
    height: auto;
  }
}
